
.main-content{
    width: 45vw;
    border: '2px solid red';
}

@media only screen and (max-width: 1100px){
    .animation-side{
        display: none;
    }

    .main-content{
        width: 100vw;
        border: '2px solid red';
    }
}

.bg-blue-gradient{
    background: #095E8E;
    background: linear-gradient(225deg, #095E8E, #051CE5);
}

.comment-box-triangle {
    width: 30px;
    height: 30px;
    transform: rotate(-135deg) ;
    @apply bg-purple-600 rounded-lg z-0 text-white relative p-2 mt-1 ml-2;
}

.comment-box-square {
    @apply bg-purple-600 absolute top-[40%] md:-left-[60%] -left-[20%] p-2 rounded-lg text-white w-72 z-10;
}
