.nav{
    @apply relative font-medium tracking-[1px] hover:text-blue-600 p-1  
}
.nav-mobile{
    @apply relative text-gray-500 text-sm tracking-[1px] hover:text-blue-600 p-1  
}

.nav::after{
    @apply content-[''] bg-blue-600 h-[2px] w-[0%] left-0 -bottom-[5px] rounded-2xl absolute duration-300
}
.nav-mobile::after{
    @apply content-[''] bg-blue-600 h-[2px] w-[0%] left-0 -bottom-[5px] rounded-2xl absolute duration-300
}

.nav:hover::after{
    @apply w-[100%]
}

.nav-mobile:hover::after{
    @apply w-[100%]
}


.nav::after{
    box-shadow: 0px 0px 3px;
}

.nav-mobile:hover::after{
    box-shadow: 0px 0px 3px;
}



@media only screen and (max-width: 1100px){
    .nav{
        display: none;
    }
    .nav-mobile-items{
        display: flex;
    }
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}